@model StoreFertilizers.Models.Purchase

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Purchase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BillNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsTax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsTax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProviderName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProviderName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurchaseNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VAT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VAT)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.PurchaseID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
