@model StoreFertilizers.Models.Stock

@{
    ViewData["Title"] = "ลบข้อมูล";
    string imgSrc = "~/images/no-image.png";
    if (Model.ProductImage != null)
    {
        var base64 = Convert.ToBase64String(Model.ProductImage);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
}

<h3>คุณแน่ใจที่จะลบสินค้านี้ออกจากคลังหรือไม่?</h3>

<div>
    <hr />
    <img src='@imgSrc' class="img-thumbnail" width="304" height="236">
    <dl class="dl-horizontal">
        <dt>
            ชื่อสินค้า
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
