@model StoreFertilizers.Models.Invoice

@{
}

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BankBranch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BankBranch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChequeNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChequeNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryByCarNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryByCarNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryByPerson)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryByPerson)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvoiceNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NetTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NetTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Paid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Paid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaidAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaidAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaidCollectedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaidCollectedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaidCollector)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaidCollector)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaidDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaidDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReceivedByPerson)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReceivedByPerson)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReceivedProductDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReceivedProductDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReferencePONumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReferencePONumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShipBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShipBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShipTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShipTo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TermOfPayment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TermOfPayment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VAT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VAT)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Index">Back to List</a>
</p>
