@model IEnumerable<StoreFertilizers.Models.Invoice>

@{
    ViewData["Title"] = "ใบกำกับสินค้า";
}
<h2>รายการใบกำกับสินค้าทั้งหมด</h2>
<p>
    <a asp-action="Create" class="btn btn-success" role="button">
        <i class="glyphicon glyphicon-plus"></i> สร้างใบกำกับสินค้า
    </a>
    <button type="button" class="btn btn-info">
        <span class="glyphicon glyphicon-search"></span> ค้นหา
    </button>
</p>
<div class="widget stacked widget-table action-table">
    <div class="table-responsive widget-content">
        <table class="table table-striped table-hover">
            <tr class="widget-header">
                <th style="text-align:center">เลขที่</th>
                <th style="text-align:center">ผู้ซื้อ</th>
                <th style="text-align:center">วันที่</th>
                <th style="text-align:right">รวมเงินสุทธิ</th>
                <th style="text-align:center">ชำระ</th>
                <th style="text-align:center">ครบกำหนด</th>
                <th>หมายเหตุ</th>
                <th class="noprint"></th>
            </tr>

            @foreach (var item in Model)
        {
        <tr>
            <td align="center" style="vertical-align:middle;">
                @Html.DisplayFor(modelItem => item.InvoiceNumber)
            </td>
            <td style="vertical-align:middle;">
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td align="center" style="vertical-align:middle;">
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td align="right" style="vertical-align:middle;">
                @Html.DisplayFor(modelItem => item.NetTotal)
            </td>
            <td align="center" style="vertical-align:middle;">
                @if (item.Paid != null && item.Paid == true)
            {
                    <input type="checkbox" value="" checked disabled>
            }
            else
            {
                    <input type="checkbox" value="" disabled>
            }
            </td>
            <td align="center" style="vertical-align:middle;">
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td style="vertical-align:middle;">
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InvoiceID" class="btn btn-warning btn-xs" role="button">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <!--
                <a asp-action="Details" asp-route-id="@item.InvoiceID" class="btn btn-info btn-xs" role="button">
                    <i class="glyphicon glyphicon-info-sign"></i>
                </a>
                -->
                <a asp-action="Delete" asp-route-id="@item.InvoiceID" class="btn btn-danger btn-xs" role="button">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>
            </td>
        </tr>
        }
        </table>
    </div>
</div>
